<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ServerConnection" connectionString="Server=RAPTOR-2;Database=TelCel;TrustServerCertificate=true;Trusted_Connection=true;MultipleActiveResultSets=true"/>
		<add name="OracleConnection"  connectionString="Data Source=localhost:1521/xepdb1;User Id=ATelCel;Password=ATelCel;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>